{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block title %}{% endblock title %}
{% block body %}
<div>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
        }
        h1 {
            text-align: center;
        }
        p {
            margin-bottom: 15px;
        }
    </style>
    <h1>Система HelpDesk</h1>
    <p>
        Добро пожаловать в систему HelpDesk! Это простая система управления обращениями и заявками пользователей.
    </p>
    <p>
        Система предоставляет следующие функциональности:
    </p>
    <ul>
        <li>Создание новой заявки с указанием категории и описания проблемы.</li>
        <li>Просмотр списка активных заявок и их статусов.</li>
        <li>Назначение ответственных сотрудников на обработку заявок.</li>
        <li>Отслеживание времени выполнения заявок.</li>
        <li>Отправка уведомлений пользователю о статусе и изменениях в заявках.</li>
    </ul>
    <p>
        Система HelpDesk разработана для облегчения взаимодействия между пользователями и технической поддержкой, а также
        обеспечения эффективного управления обращениями.
    </p>
    <p>
        Если у вас возникнут вопросы или проблемы, пожалуйста, обратитесь к администратору системы или технической поддержке.
    </p>

</div>


{% endblock body %}